arduino/OpenThermostat/node_red_flows.json
[{"id":"ee87b21a.64c12","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d749cda1.a16cd","type":"ui_group","name":"Thermostat","tab":"984c7bb2.912738","order":2,"disp":true,"width":"6","collapse":false},{"id":"b307dd5f.20156","type":"mqtt-broker","name":"my_mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b638f431.4fa588","type":"ui_group","name":"Plot","tab":"7d237b36.12f574","order":1,"disp":true,"width":"6","collapse":false},{"id":"984c7bb2.912738","type":"ui_tab","name":"Show","icon":"dashboard"},{"id":"7d237b36.12f574","type":"ui_tab","name":"Plot","icon":"dashboard"},{"id":"74a34abf.d66c14","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87a594ba.d221e8","type":"ui_template","z":"ee87b21a.64c12","group":"d749cda1.a16cd","name":"Thremostat_F","order":1,"width":"6","height":"6","format":"<div id=\"thermostat\"></div>\n\n<style>\n@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);\n#thermostat {\n  margin: 0 auto;\n  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);\n}\n.dial {\n  -webkit-user-select: none;\n     -moz-user-select: none;\n      -ms-user-select: none;\n          user-select: none;\n}\n.dial.away .dial__ico__leaf {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--target {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--target--half {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--away {\n  opacity: 1;\n}\n.dial .dial__shape {\n  -webkit-transition: fill 0.5s;\n  transition: fill 0.5s;\n}\n.dial__ico__leaf {\n  fill: #13EB13;\n  opacity: 0;\n  -webkit-transition: opacity 0.5s;\n  transition: opacity 0.5s;\n  pointer-events: none;\n}\n.dial.has-leaf .dial__ico__leaf {\n  display: block;\n  opacity: 1;\n  pointer-events: initial;\n}\n.dial__editableIndicator {\n  fill: white;\n  fill-rule: evenodd;\n  opacity: 0;\n  -webkit-transition: opacity 0.5s;\n  transition: opacity 0.5s;\n}\n.dial--edit .dial__editableIndicator {\n  opacity: 1;\n}\n.dial--state--off .dial__shape {\n  fill: #3d3c3c;\n}\n.dial--state--heating .dial__shape {\n  fill: #E36304;\n}\n.dial--state--cooling .dial__shape {\n  fill: #007AF1;\n}\n.dial__ticks path {\n  fill: rgba(255, 255, 255, 0.3);\n}\n.dial__ticks path.active {\n  fill: rgba(255, 255, 255, 0.8);\n}\n.dial text {\n  fill: white;\n  text-anchor: middle;\n  font-family: Helvetica, sans-serif;\n  alignment-baseline: central;\n}\n.dial__lbl--target {\n  font-size: 120px;\n  font-weight: bold;\n}\n.dial__lbl--target--half {\n  font-size: 40px;\n  font-weight: bold;\n  opacity: 0;\n  -webkit-transition: opacity 0.1s;\n  transition: opacity 0.1s;\n}\n.dial__lbl--target--half.shown {\n  opacity: 1;\n  -webkit-transition: opacity 0s;\n  transition: opacity 0s;\n}\n.dial__lbl--ambient {\n  font-size: 22px;\n  font-weight: bold;\n}\n.dial__lbl--away {\n  font-size: 72px;\n  font-weight: bold;\n  opacity: 0;\n  pointer-events: none;\n}\n#controls {\n  font-family: Open Sans;\n  background-color: rgba(255, 255, 255, 0.25);\n  padding: 20px;\n  border-radius: 5px;\n  position: absolute;\n  left: 50%;\n  -webkit-transform: translatex(-50%);\n          transform: translatex(-50%);\n  margin-top: 20px;\n}\n#controls label {\n  text-align: left;\n  display: block;\n}\n#controls label span {\n  display: inline-block;\n  width: 200px;\n  text-align: right;\n  font-size: 0.8em;\n  text-transform: uppercase;\n}\n#controls p {\n  margin: 0;\n  margin-bottom: 1em;\n  padding-bottom: 1em;\n  border-bottom: 2px solid #ccc;\n}\n</style>\n<script>\n    var thermostatDial = (function() {\n\t\n\t/*\n\t * Utility functions\n\t */\n\t\n\t// Create an element with proper SVG namespace, optionally setting its attributes and appending it to another element\n\tfunction createSVGElement(tag,attributes,appendTo) {\n\t\tvar element = document.createElementNS('http://www.w3.org/2000/svg',tag);\n\t\tattr(element,attributes);\n\t\tif (appendTo) {\n\t\t\tappendTo.appendChild(element);\n\t\t}\n\t\treturn element;\n\t}\n\t\n\t// Set attributes for an element\n\tfunction attr(element,attrs) {\n\t\tfor (var i in attrs) {\n\t\t\telement.setAttribute(i,attrs[i]);\n\t\t}\n\t}\n\t\n\t// Rotate a cartesian point about given origin by X degrees\n\tfunction rotatePoint(point, angle, origin) {\n\t\tvar radians = angle * Math.PI/180;\n\t\tvar x = point[0]-origin[0];\n\t\tvar y = point[1]-origin[1];\n\t\tvar x1 = x*Math.cos(radians) - y*Math.sin(radians) + origin[0];\n\t\tvar y1 = x*Math.sin(radians) + y*Math.cos(radians) + origin[1];\n\t\treturn [x1,y1];\n\t}\n\t\n\t// Rotate an array of cartesian points about a given origin by X degrees\n\tfunction rotatePoints(points, angle, origin) {\n\t\treturn points.map(function(point) {\n\t\t\treturn rotatePoint(point, angle, origin);\n\t\t});\n\t}\n\t\n\t// Given an array of points, return an SVG path string representing the shape they define\n\tfunction pointsToPath(points) {\n\t\treturn points.map(function(point, iPoint) {\n\t\t\treturn (iPoint>0?'L':'M') + point[0] + ' ' + point[1];\n\t\t}).join(' ')+'Z';\n\t}\n\t\n\tfunction circleToPath(cx, cy, r) {\n\t\treturn [\n\t\t\t\"M\",cx,\",\",cy,\n\t\t\t\"m\",0-r,\",\",0,\n\t\t\t\"a\",r,\",\",r,0,1,\",\",0,r*2,\",\",0,\n\t\t\t\"a\",r,\",\",r,0,1,\",\",0,0-r*2,\",\",0,\n\t\t\t\"z\"\n\t\t].join(' ').replace(/\\s,\\s/g,\",\");\n\t}\n\t\n\tfunction donutPath(cx,cy,rOuter,rInner) {\n\t\treturn circleToPath(cx,cy,rOuter) + \" \" + circleToPath(cx,cy,rInner);\n\t}\n\t\n\t// Restrict a number to a min + max range\n\tfunction restrictToRange(val,min,max) {\n\t\tif (val < min) return min;\n\t\tif (val > max) return max;\n\t\treturn val;\n\t}\n\t\n\t// Round a number to the nearest half\n\tfunction roundHalf(num) {\n\t\treturn Math.round(num*2)/2;\n\t}\n\tfunction roundWhole(num){\n\t    return Math.round(num);\n\t}\n\tfunction setClass(el, className, state) {\n\t\tel.classList[state ? 'add' : 'remove'](className);\n\t}\n\t\n\t/*\n\t * The \"MEAT\"\n\t */\n\n\treturn function(targetElement, options) {\n\t\tvar self = this;\n\t\t\n\t\t/*\n\t\t * Options\n\t\t */\n\t\toptions = options || {};\n\t\toptions = {\n\t\t\tdiameter: options.diameter || 400,\n\t\t\tminValue: options.minValue || 40, // Minimum value for target temperature\n\t\t\tmaxValue: options.maxValue || 90, // Maximum value for target temperature\n\t\t\tnumTicks: options.numTicks || 200, // Number of tick lines to display around the dial\n\t\t\tonSetTargetTemperature: options.onSetTargetTemperature || function() {}, // Function called when new target temperature set by the dial\n\t\t};\n\t\t\n\t\t/*\n\t\t * Properties - calculated from options in many cases\n\t\t */\n\t\tvar properties = {\n\t\t\ttickDegrees: 300, //  Degrees of the dial that should be covered in tick lines\n\t\t\trangeValue: options.maxValue - options.minValue,\n\t\t\tradius: options.diameter/2,\n\t\t\tticksOuterRadius: options.diameter / 30,\n\t\t\tticksInnerRadius: options.diameter / 8,\n\t\t\thvac_states: ['off', 'heating', 'cooling'],\n\t\t\tdragLockAxisDistance: 15,\n\t\t}\n\t\tproperties.lblAmbientPosition = [properties.radius, properties.ticksOuterRadius-(properties.ticksOuterRadius-properties.ticksInnerRadius)/2]\n\t\tproperties.offsetDegrees = 180-(360-properties.tickDegrees)/2;\n\t\t\n\t\t/*\n\t\t * Object state\n\t\t */\n\t\tvar state = {\n\t\t\ttarget_temperature: options.minValue,\n\t\t\tambient_temperature: options.minValue,\n\t\t\thvac_state: properties.hvac_states[0],\n\t\t\thas_leaf: false,\n\t\t\taway: false\n\t\t};\n\t\t\n\t\t/*\n\t\t * Property getter / setters\n\t\t */\n\t\tObject.defineProperty(this,'target_temperature',{\n\t\t\tget: function() {\n\t\t\t\treturn state.target_temperature;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.target_temperature = restrictTargetTemperature(+val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'ambient_temperature',{\n\t\t\tget: function() {\n\t\t\t\treturn state.ambient_temperature;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.ambient_temperature = roundWhole(val); //roundHalf(+val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'hvac_state',{\n\t\t\tget: function() {\n\t\t\t\treturn state.hvac_state;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tif (properties.hvac_states.indexOf(val)>=0) {\n\t\t\t\t\tstate.hvac_state = val;\n\t\t\t\t\trender();\n\t\t\t\t}\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'has_leaf',{\n\t\t\tget: function() {\n\t\t\t\treturn state.has_leaf;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.has_leaf = !!val;\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'away',{\n\t\t\tget: function() {\n\t\t\t\treturn state.away;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.away = !!val;\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\t\n\t\t/*\n\t\t * SVG\n\t\t */\n\t\tvar svg = createSVGElement('svg',{\n\t\t\twidth: '100%', //options.diameter+'px',\n\t\t\theight: '100%', //options.diameter+'px',\n\t\t\tviewBox: '0 0 '+options.diameter+' '+options.diameter,\n\t\t\tclass: 'dial'\n\t\t},targetElement);\n\t\t// CIRCULAR DIAL\n\t\tvar circle = createSVGElement('circle',{\n\t\t\tcx: properties.radius,\n\t\t\tcy: properties.radius,\n\t\t\tr: properties.radius,\n\t\t\tclass: 'dial__shape'\n\t\t},svg);\n\t\t// EDITABLE INDICATOR\n\t\tvar editCircle = createSVGElement('path',{\n\t\t\td: donutPath(properties.radius,properties.radius,properties.radius-4,properties.radius-8),\n\t\t\tclass: 'dial__editableIndicator',\n\t\t},svg);\n\t\t\n\t\t/*\n\t\t * Ticks\n\t\t */\n\t\tvar ticks = createSVGElement('g',{\n\t\t\tclass: 'dial__ticks'\t\n\t\t},svg);\n\t\tvar tickPoints = [\n\t\t\t[properties.radius-1, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1, properties.ticksInnerRadius],\n\t\t\t[properties.radius-1, properties.ticksInnerRadius]\n\t\t];\n\t\tvar tickPointsLarge = [\n\t\t\t[properties.radius-1.5, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1.5, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1.5, properties.ticksInnerRadius+20],\n\t\t\t[properties.radius-1.5, properties.ticksInnerRadius+20]\n\t\t];\n\t\tvar theta = properties.tickDegrees/options.numTicks;\n\t\tvar tickArray = [];\n\t\tfor (var iTick=0; iTick<options.numTicks; iTick++) {\n\t\t\ttickArray.push(createSVGElement('path',{d:pointsToPath(tickPoints)},ticks));\n\t\t};\n\t\t\n\t\t/*\n\t\t * Labels\n\t\t */\n\t\tvar lblTarget = createSVGElement('text',{\n\t\t\tx: properties.radius,\n\t\t\ty: properties.radius,\n\t\t\tclass: 'dial__lbl dial__lbl--target'\n\t\t},svg);\n\t\tvar lblTarget_text = document.createTextNode('');\n\t\tlblTarget.appendChild(lblTarget_text);\n\t\t//\n\t\tvar lblTargetHalf = createSVGElement('text',{\n\t\t\tx: properties.radius + properties.radius/2.5,\n\t\t\ty: properties.radius - properties.radius/8,\n\t\t\tclass: 'dial__lbl dial__lbl--target--half'\n\t\t},svg);\n\t\tvar lblTargetHalf_text = document.createTextNode('5');\n\t\tlblTargetHalf.appendChild(lblTargetHalf_text);\n\t\t//\n\t\tvar lblAmbient = createSVGElement('text',{\n\t\t\tclass: 'dial__lbl dial__lbl--ambient'\n\t\t},svg);\n\t\tvar lblAmbient_text = document.createTextNode('');\n\t\tlblAmbient.appendChild(lblAmbient_text);\n\t\t//\n\t\tvar lblAway = createSVGElement('text',{\n\t\t\tx: properties.radius,\n\t\t\ty: properties.radius,\n\t\t\tclass: 'dial__lbl dial__lbl--away'\n\t\t},svg);\n\t\tvar lblAway_text = document.createTextNode('AWAY');\n\t\tlblAway.appendChild(lblAway_text);\n\t\t//\n\t\tvar icoLeaf = createSVGElement('path',{\n\t\t\tclass: 'dial__ico__leaf'\n\t\t},svg);\n\t\t\n\t\t/*\n\t\t * LEAF\n\t\t */\n\t\tvar leafScale = properties.radius/5/100;\n\t\tvar leafDef = [\"M\", 3, 84, \"c\", 24, 17, 51, 18, 73, -6, \"C\", 100, 52, 100, 22, 100, 4, \"c\", -13, 15, -37, 9, -70, 19, \"C\", 4, 32, 0, 63, 0, 76, \"c\", 6, -7, 18, -17, 33, -23, 24, -9, 34, -9, 48, -20, -9, 10, -20, 16, -43, 24, \"C\", 22, 63, 8, 78, 3, 84, \"z\"].map(function(x) {\n\t\t\treturn isNaN(x) ? x : x*leafScale;\n\t\t}).join(' ');\n\t\tvar translate = [properties.radius-(leafScale*100*0.5),properties.radius*1.5]\n\t\tvar icoLeaf = createSVGElement('path',{\n\t\t\tclass: 'dial__ico__leaf',\n\t\t\td: leafDef,\n\t\t\ttransform: 'translate('+translate[0]+','+translate[1]+')'\n\t\t},svg);\n\t\t\t\n\t\t/*\n\t\t * RENDER\n\t\t */\n\t\tfunction render() {\n\t\t\trenderAway();\n\t\t\trenderHvacState();\n\t\t\trenderTicks();\n\t\t\trenderTargetTemperature();\n\t\t\trenderAmbientTemperature();\n\t\t\trenderLeaf();\n\t\t}\n\t\trender();\n\n\t\t/*\n\t\t * RENDER - ticks\n\t\t */\n\t\tfunction renderTicks() {\n\t\t\tvar vMin, vMax;\n\t\t\tif (self.away) {\n\t\t\t\tvMin = self.ambient_temperature;\n\t\t\t\tvMax = vMin;\n\t\t\t} else {\n\t\t\t\tvMin = Math.min(self.ambient_temperature, self.target_temperature);\n\t\t\t\tvMax = Math.max(self.ambient_temperature, self.target_temperature);\n\t\t\t}\n\t\t\tvar min = restrictToRange(Math.round((vMin-options.minValue)/properties.rangeValue * options.numTicks),0,options.numTicks-1);\n\t\t\tvar max = restrictToRange(Math.round((vMax-options.minValue)/properties.rangeValue * options.numTicks),0,options.numTicks-1);\n\t\t\t//\n\t\t\ttickArray.forEach(function(tick,iTick) {\n\t\t\t\tvar isLarge = iTick==min || iTick==max;\n\t\t\t\tvar isActive = iTick >= min && iTick <= max;\n\t\t\t\tattr(tick,{\n\t\t\t\t\td: pointsToPath(rotatePoints(isLarge ? tickPointsLarge: tickPoints,iTick*theta-properties.offsetDegrees,[properties.radius, properties.radius])),\n\t\t\t\t\tclass: isActive ? 'active' : ''\n\t\t\t\t});\n\t\t\t});\n\t\t}\n\t\n\t\t/*\n\t\t * RENDER - ambient temperature\n\t\t */\n\t\tfunction renderAmbientTemperature() {\n\t\t\tlblAmbient_text.nodeValue = Math.floor(self.ambient_temperature);\n\t\t\tif (self.ambient_temperature%1!=0) {\n\t\t\t\tlblAmbient_text.nodeValue += 'âµ';\n\t\t\t}\n\t\t\tvar peggedValue = restrictToRange(self.ambient_temperature, options.minValue, options.maxValue);\n\t\t\tdegs = properties.tickDegrees * (peggedValue-options.minValue)/properties.rangeValue - properties.offsetDegrees;\n\t\t\tif (peggedValue > self.target_temperature) {\n\t\t\t\tdegs += 8;\n\t\t\t} else {\n\t\t\t\tdegs -= 8;\n\t\t\t}\n\t\t\tvar pos = rotatePoint(properties.lblAmbientPosition,degs,[properties.radius, properties.radius]);\n\t\t\tattr(lblAmbient,{\n\t\t\t\tx: pos[0],\n\t\t\t\ty: pos[1]\n\t\t\t});\n\t\t}\n\n\t\t/*\n\t\t * RENDER - target temperature\n\t\t */\n\t\tfunction renderTargetTemperature() {\n\t\t\tlblTarget_text.nodeValue = Math.floor(self.target_temperature);\n\t\t\tsetClass(lblTargetHalf,'shown',self.target_temperature%1!=0);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - leaf\n\t\t */\n\t\tfunction renderLeaf() {\n\t\t\tsetClass(svg,'has-leaf',self.has_leaf);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - HVAC state\n\t\t */\n\t\tfunction renderHvacState() {\n\t\t\tArray.prototype.slice.call(svg.classList).forEach(function(c) {\n\t\t\t\tif (c.match(/^dial--state--/)) {\n\t\t\t\t\tsvg.classList.remove(c);\n\t\t\t\t};\n\t\t\t});\n\t\t\tsvg.classList.add('dial--state--'+self.hvac_state);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - away\n\t\t */\n\t\tfunction renderAway() {\n\t\t\tsvg.classList[self.away ? 'add' : 'remove']('away');\n\t\t}\n\t\t\n\t\t/*\n\t\t * Drag to control\n\t\t */\n\t\tvar _drag = {\n\t\t\tinProgress: false,\n\t\t\tstartPoint: null,\n\t\t\tstartTemperature: 0,\n\t\t\tlockAxis: undefined\n\t\t};\n\t\t\n\t\tfunction eventPosition(ev) {\n\t\t\tif (ev.targetTouches && ev.targetTouches.length) {\n\t\t\t\treturn  [ev.targetTouches[0].clientX, ev.targetTouches[0].clientY];\n\t\t\t} else {\n\t\t\t\treturn [ev.x, ev.y];\n\t\t\t};\n\t\t}\n\t\t\n\t\tvar startDelay;\n\t\tfunction dragStart(ev) {\n\t\t\tstartDelay = setTimeout(function() {\n\t\t\t\tsetClass(svg, 'dial--edit', true);\n\t\t\t\t_drag.inProgress = true;\n\t\t\t\t_drag.startPoint = eventPosition(ev);\n\t\t\t\t_drag.startTemperature = self.target_temperature || options.minValue;\n\t\t\t\t_drag.lockAxis = undefined;\n\t\t\t},1000);\n\t\t};\n\t\t\n\t\tfunction dragEnd (ev) {\n\t\t\tclearTimeout(startDelay);\n\t\t\tsetClass(svg, 'dial--edit', false);\n\t\t\tif (!_drag.inProgress) return;\n\t\t\t_drag.inProgress = false;\n\t\t\tif (self.target_temperature != _drag.startTemperature) {\n\t\t\t\tif (typeof options.onSetTargetTemperature == 'function') {\n\t\t\t\t\toptions.onSetTargetTemperature(self.target_temperature);\n\t\t\t\t};\n\t\t\t};\n\t\t};\n\t\t\n\t\tfunction dragMove(ev) {\n\t\t\tev.preventDefault();\n\t\t\tif (!_drag.inProgress) return;\n\t\t\tvar evPos =  eventPosition(ev);\n\t\t\tvar dy = _drag.startPoint[1]-evPos[1];\n\t\t\tvar dx = evPos[0] - _drag.startPoint[0];\n\t\t\tvar dxy;\n\t\t\tif (_drag.lockAxis == 'x') {\n\t\t\t\tdxy  = dx;\n\t\t\t} else if (_drag.lockAxis == 'y') {\n\t\t\t\tdxy = dy;\n\t\t\t} else if (Math.abs(dy) > properties.dragLockAxisDistance) {\n\t\t\t\t_drag.lockAxis = 'y';\n\t\t\t\tdxy = dy;\n\t\t\t} else if (Math.abs(dx) > properties.dragLockAxisDistance) {\n\t\t\t\t_drag.lockAxis = 'x';\n\t\t\t\tdxy = dx;\n\t\t\t} else {\n\t\t\t\tdxy = (Math.abs(dy) > Math.abs(dx)) ? dy : dx;\n\t\t\t};\n\t\t\tvar dValue = (dxy*getSizeRatio())/(options.diameter)*properties.rangeValue;\n\t\t\tself.target_temperature = roundWhole(_drag.startTemperature+dValue);// roundHalf(_drag.startTemperature+dValue);\n\t\t}\n\t\t\n\t\tsvg.addEventListener('mousedown',dragStart);\n\t\tsvg.addEventListener('touchstart',dragStart);\n\t\t\n\t\tsvg.addEventListener('mouseup',dragEnd);\n\t\tsvg.addEventListener('mouseleave',dragEnd);\n\t\tsvg.addEventListener('touchend',dragEnd);\n\t\t\n\t\tsvg.addEventListener('mousemove',dragMove);\n\t\tsvg.addEventListener('touchmove',dragMove);\n\t\t//\n\t\t\n\t\t/*\n\t\t * Helper functions\n\t\t */\n\t\tfunction restrictTargetTemperature(t) {\n\t\t    return restrictToRange(roundWhole(t),options.minValue,options.maxValue);\n\t\t\t//return restrictToRange(roundHalf(t),options.minValue,options.maxValue);\n\t\t}\n\t\t\n\t\tfunction angle(point) {\n\t\t\tvar dx = point[0] - properties.radius;\n\t\t\tvar dy = point[1] - properties.radius;\n\t\t\tvar theta = Math.atan(dx/dy) / (Math.PI/180);\n\t\t\tif (point[0]>=properties.radius && point[1] < properties.radius) {\n\t\t\t\ttheta = 90-theta - 90;\n\t\t\t} else if (point[0]>=properties.radius && point[1] >= properties.radius) {\n\t\t\t\ttheta = 90-theta + 90;\n\t\t\t} else if (point[0]<properties.radius && point[1] >= properties.radius) {\n\t\t\t\ttheta = 90-theta + 90;\n\t\t\t} else if (point[0]<properties.radius && point[1] < properties.radius) {\n\t\t\t\ttheta = 90-theta+270;\n\t\t\t}\n\t\t\treturn theta;\n\t\t};\n\t\t\n\t\tfunction getSizeRatio() {\n\t\t\treturn options.diameter / targetElement.clientWidth;\n\t\t}\n\t\t\n\t};\n})();\n\n/* ==== */\n(function(scope) {\n    \n    var nest = new thermostatDial(document.getElementById('thermostat'),{\n    \tonSetTargetTemperature: function(v) {\n    \t\tscope.send({topic: \"target_temperature\", payload: v});\n    \t}\n    });\n\n\n    scope.$watch('msg', function(data) {\n        //console.log(data.topic+\"  \"+data.payload);\n        if (data.topic == \"ambient_temperature\") {\n            nest.ambient_temperature = data.payload;\n        } if (data.topic == \"target_temperature\") {\n            nest.target_temperature = data.payload;\n        } if (data.topic == \"hvac_state\") {\n            nest.hvac_state = data.payload;\n        } if (data.topic == \"has_leaf\") {\n            nest.has_leaf = data.payload;\n        } if (data.topic == \"away\") {\n            nest.away = data.payload;\n        }\n    });\n})(scope);\n\n</script>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":920,"y":260,"wires":[["58ef17d6.2ef1a8"]]},{"id":"802024f3.617328","type":"function","z":"ee87b21a.64c12","name":"ambient_temperature","func":"msg.topic = \"ambient_temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":748,"y":142,"wires":[["87a594ba.d221e8"]]},{"id":"8efc18cb.16c228","type":"function","z":"ee87b21a.64c12","name":"target_temperature","func":"msg.topic = \"target_temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":738,"y":202,"wires":[["87a594ba.d221e8"]]},{"id":"c5e8fc43.d643d","type":"function","z":"ee87b21a.64c12","name":"hvac_state","func":"msg.topic = \"hvac_state\";\nreturn msg;","outputs":1,"noerr":0,"x":718,"y":242,"wires":[["87a594ba.d221e8"]]},{"id":"24547420.a6066c","type":"function","z":"ee87b21a.64c12","name":"has_leaf","func":"msg.topic = \"has_leaf\";\nreturn msg;","outputs":1,"noerr":0,"x":708,"y":282,"wires":[["87a594ba.d221e8"]]},{"id":"b050fade.5d6438","type":"function","z":"ee87b21a.64c12","name":"away","func":"msg.topic = \"away\";\nreturn msg;","outputs":1,"noerr":0,"x":698,"y":322,"wires":[["87a594ba.d221e8","dd0ffdc1.038a5"]]},{"id":"25fe39bb.eaf5d6","type":"inject","z":"ee87b21a.64c12","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"has_leaf","payload":"true","payloadType":"bool","x":438,"y":342,"wires":[["24547420.a6066c"]]},{"id":"da851b58.598a98","type":"inject","z":"ee87b21a.64c12","name":"","repeat":"","crontab":"","once":false,"topic":"has_leaf","payload":"false","payloadType":"bool","x":438,"y":382,"wires":[["24547420.a6066c"]]},{"id":"a57f4027.19f41","type":"inject","z":"ee87b21a.64c12","name":"","repeat":"","crontab":"","once":false,"topic":"away","payload":"true","payloadType":"bool","x":428,"y":422,"wires":[["b050fade.5d6438"]]},{"id":"1576a8de.c8fb07","type":"inject","z":"ee87b21a.64c12","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"away","payload":"false","payloadType":"bool","x":428,"y":462,"wires":[["b050fade.5d6438"]]},{"id":"5e3d9f91.04eea","type":"inject","z":"ee87b21a.64c12","name":"","repeat":"","crontab":"","once":false,"topic":"hvac_state","payload":"off","payloadType":"str","x":438,"y":222,"wires":[["c5e8fc43.d643d"]]},{"id":"db60d0d8.42897","type":"inject","z":"ee87b21a.64c12","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"hvac_state","payload":"heating","payloadType":"str","x":458,"y":262,"wires":[["c5e8fc43.d643d"]]},{"id":"e8c9fad4.dc7958","type":"inject","z":"ee87b21a.64c12","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"hvac_state","payload":"cooling","payloadType":"str","x":458,"y":302,"wires":[["c5e8fc43.d643d"]]},{"id":"165d7013.199a2","type":"inject","z":"ee87b21a.64c12","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"target_temperature","payload":"70","payloadType":"num","x":468,"y":182,"wires":[["8efc18cb.16c228"]]},{"id":"58ef17d6.2ef1a8","type":"function","z":"ee87b21a.64c12","name":"target_temperature","func":"if (msg.topic == \"target_temperature\") {\nreturn msg;\n}","outputs":1,"noerr":0,"x":1110,"y":260,"wires":[["78900eb.f91a7f"]]},{"id":"cd8cf30a.c74f5","type":"mqtt in","z":"ee87b21a.64c12","name":"","topic":"wyostat.temp","qos":"2","broker":"b307dd5f.20156","x":230,"y":80,"wires":[["802024f3.617328","10ce3b06.21d9c5","e806e825.838c48","4c756717.5beac8"]]},{"id":"78900eb.f91a7f","type":"mqtt out","z":"ee87b21a.64c12","name":"","topic":"wyostat.targettemp","qos":"","retain":"","broker":"b307dd5f.20156","x":1310,"y":260,"wires":[]},{"id":"81669f91.f6c2e","type":"mqtt in","z":"ee87b21a.64c12","name":"","topic":"wyostat.targettemp","qos":"2","broker":"b307dd5f.20156","x":210,"y":140,"wires":[["8efc18cb.16c228","10ce3b06.21d9c5"]]},{"id":"9a7e8e6.212de7","type":"inject","z":"ee87b21a.64c12","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"wyostat.requesttemp","payload":"","payloadType":"date","x":110,"y":620,"wires":[["a86d9ce6.4e13a","a61b857c.f033e8"]]},{"id":"997dfc1d.8b185","type":"mqtt out","z":"ee87b21a.64c12","name":"","topic":"wyostat.requesttemp","qos":"","retain":"","broker":"b307dd5f.20156","x":500,"y":580,"wires":[]},{"id":"1e36f565.f2da7b","type":"mqtt out","z":"ee87b21a.64c12","name":"","topic":"wyostat.requeststate","qos":"","retain":"","broker":"b307dd5f.20156","x":500,"y":620,"wires":[]},{"id":"e9d5ab2c.91e268","type":"mqtt in","z":"ee87b21a.64c12","name":"","topic":"wyostat.hvac_state","qos":"2","broker":"b307dd5f.20156","x":230,"y":240,"wires":[["c5e8fc43.d643d"]]},{"id":"f5bd0fd9.9650d","type":"mqtt out","z":"ee87b21a.64c12","name":"","topic":"wyostat.requesttargettemp","qos":"","retain":"","broker":"b307dd5f.20156","x":520,"y":660,"wires":[]},{"id":"4b5d5580.963f7c","type":"mqtt out","z":"ee87b21a.64c12","name":"","topic":"wyostat.requestmode","qos":"","retain":"","broker":"b307dd5f.20156","x":500,"y":700,"wires":[]},{"id":"aceed45b.ad46c8","type":"mqtt out","z":"ee87b21a.64c12","name":"","topic":"wyostat.hvacmode","qos":"","retain":"","broker":"b307dd5f.20156","x":630,"y":800,"wires":[]},{"id":"5c868a02.d84f54","type":"function","z":"ee87b21a.64c12","name":"hvac_mode","func":"msg.topic = \"hvac_mode\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":800,"wires":[["aceed45b.ad46c8"]]},{"id":"f5a72a6e.1d15e8","type":"inject","z":"ee87b21a.64c12","name":"cooling","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"wyostat.hvacmode","payload":"cooling","payloadType":"str","x":280,"y":700,"wires":[["5c868a02.d84f54"]]},{"id":"345ba8b8.0bc228","type":"inject","z":"ee87b21a.64c12","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"heating","payloadType":"str","x":280,"y":740,"wires":[["5c868a02.d84f54"]]},{"id":"960d0015.8cbfc","type":"inject","z":"ee87b21a.64c12","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":290,"y":780,"wires":[["5c868a02.d84f54"]]},{"id":"a61b857c.f033e8","type":"ui_button","z":"ee87b21a.64c12","name":"","group":"d749cda1.a16cd","order":3,"width":"2","height":"1","passthru":false,"label":"AC","color":"lightblue","bgcolor":"","icon":"","payload":"cooling","payloadType":"str","topic":"","x":290,"y":860,"wires":[["5c868a02.d84f54"]]},{"id":"4de3e984.d0abd8","type":"ui_button","z":"ee87b21a.64c12","name":"","group":"d749cda1.a16cd","order":4,"width":"2","height":"1","passthru":false,"label":"Heat","color":"orange","bgcolor":"","icon":"","payload":"heating","payloadType":"str","topic":"","x":290,"y":900,"wires":[["5c868a02.d84f54"]]},{"id":"d7757c5d.02a54","type":"ui_button","z":"ee87b21a.64c12","name":"","group":"b638f431.4fa588","order":0,"width":"1","height":"1","passthru":false,"label":"Off","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":290,"y":940,"wires":[["5c868a02.d84f54"]]},{"id":"10ce3b06.21d9c5","type":"ui_chart","z":"ee87b21a.64c12","name":"Recent Temp","group":"b638f431.4fa588","order":2,"width":0,"height":0,"label":"Last 3 Hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":730,"y":98,"wires":[[]]},{"id":"a86d9ce6.4e13a","type":"ui_button","z":"ee87b21a.64c12","name":"","group":"d749cda1.a16cd","order":2,"width":"2","height":"1","passthru":false,"label":"Connect","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":640,"wires":[["997dfc1d.8b185","1e36f565.f2da7b","f5bd0fd9.9650d","4b5d5580.963f7c"]]},{"id":"5b089c5d.7b86d4","type":"ui_button","z":"ee87b21a.64c12","name":"","group":"b638f431.4fa588","order":3,"width":"2","height":"1","passthru":false,"label":"Away","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"str","topic":"","x":430,"y":500,"wires":[["b050fade.5d6438"]]},{"id":"5c85cf4d.62a1a","type":"ui_button","z":"ee87b21a.64c12","name":"","group":"b638f431.4fa588","order":1,"width":"2","height":"1","passthru":false,"label":"Home","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":490,"y":540,"wires":[["b050fade.5d6438"]]},{"id":"dd0ffdc1.038a5","type":"mqtt out","z":"ee87b21a.64c12","name":"","topic":"wyostat.away","qos":"","retain":"","broker":"b307dd5f.20156","x":880,"y":320,"wires":[]},{"id":"70ad5a21.ab6384","type":"ui_switch","z":"ee87b21a.64c12","name":"","label":"Away (chart)","tooltip":"","group":"b638f431.4fa588","order":0,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":650,"y":540,"wires":[["b050fade.5d6438"]]},{"id":"5eacd987.9849a8","type":"function","z":"ee87b21a.64c12","name":"cooling","func":"msg.topic = \"hvac_state\";\nmsg.payload = \"cooling\"\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":840,"wires":[["5c868a02.d84f54"]]},{"id":"99eaf62.938e008","type":"delay","z":"ee87b21a.64c12","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":800,"wires":[["5eacd987.9849a8"]]},{"id":"8df19dcc.1751f","type":"comment","z":"ee87b21a.64c12","name":"Initialize HVAC","info":"For some reason, whenever I deploy, \nthe hvac_mode initiailzes to \"heating\", this \nsets default to \"cooling\"","x":120,"y":880,"wires":[]},{"id":"cadae84f.a19e88","type":"function","z":"ee87b21a.64c12","name":"CONSTANTS","func":"set(flow.wyostat_id, \"wyostat.\")\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":380,"wires":[[]]},{"id":"e806e825.838c48","type":"ui_chart","z":"ee87b21a.64c12","name":"24_hour_temp","group":"b638f431.4fa588","order":2,"width":0,"height":0,"label":"Last 24 Hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"24 Hour Chart","dot":false,"ymin":"60","ymax":"70","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#acbfdc","#006cfa","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":740,"y":60,"wires":[[]]},{"id":"4c756717.5beac8","type":"ui_chart","z":"ee87b21a.64c12","name":"Recent Temp (main screen)","group":"d749cda1.a16cd","order":2,"width":0,"height":0,"label":"Last 3 Hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":780,"y":20,"wires":[[]]},{"id":"e59d1545.0f8408","type":"ui_switch","z":"ee87b21a.64c12","name":"Away(main)","label":"Away","tooltip":"","group":"d749cda1.a16cd","order":0,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":690,"y":580,"wires":[["b050fade.5d6438"]]}]